@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #FFFFFF;
    height: 100vh;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

/* Left Navigation Bar */

a{
    text-decoration: none;
    color: inherit;
}

aside{
    margin-top: 7%;
    padding: 10px;
    background-color: #23313F;
    display: inline-block;
    width: 14%;
    height: 45vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

li{
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 5%;
    margin-bottom: 14%;
}

li:hover{
    cursor: pointer;
}

.active{
    color: #929292;
}

ul > li:first-child{
    margin-top: 10%;
}

ul > li:last-child {
    margin-top: 75%;
}

/* Dashboard Style */

.dashboard{
    position: absolute;
    top: 8%;
    left: 18.4%;
    background-color: #23313F;
    width: 78.2vw;
    height: 87vh;
    border-radius: 20px;
    padding: 10px;
    padding-left: 1.2%;
}

.dashboard > h2{
    margin-left: 0.5%;
    font-size: 26px;
    margin-bottom: 1.2%;
}

.create-manager-section{
    display: inline-block;
    width: 30%;
    /* border: 2px solid white; */
    padding: 10px;
}

.create-servicing-section{
    margin-left: 30%;
    margin-top: 25px;
    display: inline-block;
    width: 30%;
    /* border: 2px solid red; */
    padding: 10px;
}

.create-manager-heading{
    margin-bottom: 10px;
}

.create-service_center-heading{
    margin-bottom: 10px;
}

input{
    margin-top: 1.5%;
    width: 250px;
    height: 25px;
    padding-left: 4px;
    font-weight: lighter;
    font-size: 15px;
}

button{
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e28b7d;
    color: #3e4448;
    outline: none;
    border: none;
    margin-left: 4vw;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}

select{
    width: 255px;
    height: 28px;
    cursor: pointer;
}