@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

main{
    padding: 1.5% 1.5% 0% 1.5%;
    margin-left: 32.5vw;
    margin-top: 3%;
    width: 35%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #5183A5;
    border: 1px solid rgba(61, 59, 59, 0.477);
    border-radius: 8px;
}

.control-fields{
    margin-top: 10%;
    margin-left: 5%;
}

.confirm-password-field{
    margin-top: 5%;
}

input{
    margin-top: 3%;
    width: 265px;
    height: 33px;
    padding-left: 4px;
    font-weight: lighter;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline: none;
}

.submit-button{
    margin-left: 10%;
}

button{
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e28b7d;
    color: #3e4448;
    outline: none;
    border: none;
    margin-left: 2vw;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    width: 150px;
    height: 35px;
}