@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

main{
    padding: 0.7% 2% 1% 2%;
    margin-left: 1.5vw;
    margin-top: 3%;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5183A5;
    border: 1px solid rgba(61, 59, 59, 0.477);
}

form{
    margin-left: 16px;
}

.form-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    margin-top: 5px;
    width: 270px;
    height: 25px;
    padding-left: 4px;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

select{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 275px;
    height: 25px;
}

button{
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #E74C3C;
    color: #2A2A2A;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-size: 15px;
}