@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

/* Left Navigation Bar */

a{
    text-decoration: none;
    color: inherit;
}

aside{
    margin-top: 1%;
    padding: 10px;
    background-color: #23313F;
    display: inline-block;
    width: 16%;
    height: 69vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

li{
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 5%;
    margin-bottom: 20%;
}

li:hover{
    cursor: pointer;
}

.active{
    color: #929292;
}

ul > li:first-child{
    margin-top: 10%;
}

ul > li:last-child {
    margin-top: 95%;
}

/* User Profile Div */
.user-profile{
    width: 13%;
    height: 75px;
    background-color: #5183A5;
    margin-left: 1.5%;
    margin-top: 2%;
    border-radius: 25px;
    font-size: 1.1rem;
    color: #2A2A2A;
    font-weight: 600;
}

.user-profile > p:first-child{
    text-align: center;
    padding-top: 8px;
}

.user-profile > p:last-child{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* suggestion_issue-section */

.suggestion_issue-section{
    position: absolute;
    top: 8%;
    left: 18.4%;
    background-color: #23313F;
    width: 78.2vw;
    height: 87vh;
    border-radius: 20px;
    padding: 10px;
    padding-left: 1.2%;
}

.suggestion_issue-section > h2{
    margin-left: 0.5%;
    font-size: 26px;
    margin-bottom: 1.2%;
}

h4{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}

.form-section{
    display: flex;
    justify-content: center;
    background-color: #5183A5;
    width: 42vw;
    height: 50vh;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 25px;
}

form{
    /* margin-top: 10px; */
    padding: 10px;
}

textarea{
    resize: none;
}

input{
    margin-top: 5px;
    margin-bottom: 8px;
    width: 275px;
    height: 25px;
    padding: 2px;
    font-size: 16px;
}

select{
    margin-top: 5px;
    margin-bottom: 8px;
    width: 275px;
    height: 23px;
    font-size: 16px;
}

option{
    font-size: 16px;
}

textarea{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 4px;
}

.submit-button{
    width: 105px;
    height: 30px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
    background-color: #E74C3C;
    outline: none;
    border: 1px;
}

label{
    font-size: 18px;
}