@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

main{
    padding: 0.7% 2% 0.5% 2%;
    margin-left: 35vw;
    margin-top: 1%;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5183A5;
    border: 1px solid rgba(61, 59, 59, 0.477);
    border-radius: 20px;
}

.input-containers{
    margin-left: 12.5%;
}

form{
    margin-left: 16px;
}

.form-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

input{
    margin-top: 6px;
    width: 290px;
    height: 36px;
    padding-left: 4px;
    font-weight: 400;
    background-color: #D9D9D9;
    font-size: 17px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    color: #2A2A2A;
}

select{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 290px;
    height: 36px;
    cursor: pointer;
    background-color: #D9D9D9;
}

button{
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #E74C3C;
    color: #2A2A2A;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 19px;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-size: 15px;
}

.error-messages{
    position: absolute;
    top: 3%;
    right: 1%;
}

.error-message{
    cursor: pointer;
    padding: 6px;
    margin-top: 10px;
    border: 2px solid red;
}

a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.already-have-account-btn{
    margin-top: 20px;
    background-color: #e28b7d;
}