@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

main{
    padding: 2%;
    margin-left: 25.5vw;
    margin-top: 3%;
    width: 700px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #5183A5;
    border: 1px solid rgba(61, 59, 59, 0.477);
}

input{

    margin-top: 6%;
    width: 250px;
    height: 25px;
    padding-left: 4px;
    font-weight: lighter;
    font-size: 15px;
}

button{
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e28b7d;
    color: #3e4448;
    outline: none;
    border: none;
    margin-left: 4vw;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}