@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #2C3E50;
    color: #EDF6F9;
}

header{
    padding: 20px;
    font-size: 19px;
    font-weight: bolder;
}

.brand-image{
    padding-left: 43%;
    margin-top: 45px;
}

main{
    padding: 2%;
    margin-left: 36vw;
    margin-top: 4%;
    width: 400px;
    height: 270px;
    display: flex;
    justify-content: center;
    /* border: 1px solid rgba(61, 59, 59, 0.477); */
    background-color: #5183A5;
    border-radius: 20px;
}

.form-title{
    font-size: 20px;
    color: #2A2A2A;
}

.email, .password{
    margin-top: 20px;
    color: #2A2A2A;
}

input{
    margin-top: 6px;
    width: 290px;
    height: 36px;
    padding-left: 4px;
    font-weight: 400;
    background-color: #D9D9D9;
    font-size: 17px;
    outline: none;
    border: none;
}

button{
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #E74C3C;
    color: #2A2A2A;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 19px;
    width: 145px;
    height: 45px;
}